<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>404 PAGE</h1>
    <p>Looks like you were trying to visit {{ request_path }}</p>
    <p>{{ exception }}</p>
</body>
</html>
