
{% extends "translators/base.html" %}

{% block content  %}

    <ul>

        {% for words in lang_words %}

            <li>
            {{ words }}
            </li>

        {% endfor %}
    </ul>
{% endblock  %}
