{% extends "translators/base.html" %}

{% block content  %}

  <ul>
    {% for language in language_list %}
    <div >
        <li>
        <a href="{% url 'detail_languages' language.pk %}">{{ language.name }}</a>
        </li>
    </div>
    {% endfor %}
  </ul>

{% endblock  %}
