{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input Entry</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        {% comment %} <li>
          <a href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li>
          <a href="{% url 'recipe_new' %}">Write a recipe</a> {% endcomment %}
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div>
      <form>
        <input type="search" placeholder="Search" araia-label="Search">
        <button type="submit">Search</button>
      </form>
    </div>
  </main>
</body>

</html>
