{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Language Words</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <main>
        <header>
            <ul>
                {% comment %} {% for words in lang_words %}
                    <li>
                    {{ words }}
                    </li>
                {% endfor %} {% endcomment %}
            </ul>
        </header>
  </main>
</body>

</html>
