{% extends "translators/base.html" %}

{% block content %}
    <main>
        {% if searched %}
            <h1>You Searched: {{searched}}</h1>
        {% else %}
            <h1>Hey! You forgot to enter into the search bar!</h1>
        {% endif %}
        <h2>
            This is what I found:
        </h2>
        <h3>
            <ul>
                {% for keys in keys_list %}
                <div>
                    <li>
                        {{ keys }}
                    </li>
                </div>
                {% endfor %}
            </ul>
        </h3>
    </main>
{% endblock  %}
