{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input Entry</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <nav>
        <ul>
            <li>
                <form method="POST" action="{% url 'search_out' %}">
                    {% csrf_token %}
                    <input type="search" name="searched" placeholder="Search..." >
                      <button type="submit">Search</button>
                </form>
            </li>
            <li>
                <a href="{% url 'list_languages'%}">List of Languages</a>
            </li>
            <li>
                <a href="{% url 'add_languages'%}">Add languages</a>
            </li>
            <li>
                <a href="{% url 'add_words'%}">Add Words</a>
            </li>
            <li>
                <a href="{% url 'add_keys'%}">Add Keys</a>
            </li>
            <li>
                <a href="{% url 'front_view'%}">Home Sweet Home</a>
            </li>
        </ul>

        </nav>
    </header>
{% block content %}
{% endblock %}
</body>
</html>
