{% extends "translators/base.html" %}

{% block content  %}
<main>
    <ul>
        <li>"{{ language }} to Languages on {{ language.date_added }}"</li>
        <li>"{{ words }} to Words on {{ words.date_added }}"</li>
        <li>"{{ types }} added to Types on {{ types.date_added }}"</li>
        <li>"{{ keys }} added to Keys on {{ keys.date_added }}"</li>
    </ul>
</main>
{% endblock  %}
